body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f9f9f9; /* Un color de fondo de respaldo en caso de que la imagen no cargue o no cubra todo el fondo */
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #27ae60;
}

.btn-secondary {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #c0392b;
}

.modal-content {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-title {
    font-size: 28px;
    color: #3498db;
}

.table {
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table thead th {
    background-color: #3498db;
    color: #fff;
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e0e0e0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
